body {
  background-color: rgb(56, 68, 76);
  font-family: system-ui;
  color: white;
}

a {
  color: #00aaff;
}

.post {
  background-color: #00000050;
  display: flex;
  flex-direction: column;
  max-width: 800px;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  padding: 50px;
  font-size: large;
  line-height: 30px;
}

.search-container {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: 25px;
}

#search-input {
  font-size: xx-large;
  background: transparent;
  color: white;
  font-family: system-ui;
  border: white;
  border-width: 1px;
  border-radius: 10px;
  border-style: solid;
  padding: 15px;
}

#search-input::placeholder {
  color: white;
  opacity: 0.2;
}

.post > h1:first-child {
  margin-top: 0px;
}

.post > * {
  margin-top: 15px;
  margin-bottom: 15px;
}

.post > *:last-child {
  margin-bottom: 0px;
}

.post > hr {
  width: 100%;
}
